DirectoryIndex index.php


Options +FollowSymLinks -Indexes


<Files .htaccess>
order allow,deny
deny from all
</Files>

# Begin EnforceSSL gccgsc.org
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www.)?gccgsc.org$
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L]
</IfModule>
# End EnforceSSL

