# Begin IP blocking #
Order Allow,Deny
Allow from all
Deny from 154.126.211.96
Deny from 170.245.30.104
Deny from 186.3.6.183
Deny from 5.57.37.87
Deny from 154.126.211.96
Deny from 170.245.30.104
Deny from 182.23.11.50
Deny from 197.156.136.246
Deny from 185.94.91.48
Deny from 185.90.171.242
Deny from 105.27.194.22
Deny from 36.89.227.253
Deny from 110.34.5.40
Deny from 202.146.241.55
Deny from 5.202.77.36
Deny from 103.36.51.59
Deny from 176.102.137.32
Deny from 221.120.197.9
Deny from 132.255.152.170
Deny from 102.135.196.187
Deny from 197.248.247.117
Deny from 95.170.202.130
# End IP blocking #


DirectoryIndex index.php


Options +FollowSymLinks -Indexes


<Files .htaccess>
order allow,deny
deny from all
</Files>

# Begin EnforceSSL goatbook.site
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www.)?goatbook.site$
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L]
</IfModule>
# End EnforceSSL

